{% extends 'main/base.html'%}

{% block title %}Редактирование заявки {{ applic.id }} {% endblock %}

{% block content %}
<form method="POST" class="form-control d-flex flex-column gap-2">
    <input value="{{ applic.client }}" name="client" type="text" placeholder="ФИО клиента" class="form-control">
    <input value="{{ applic.service }}" name="service" type="text" placeholder="Услуга" class="form-control">
    <input value="{{ applic.stuff }}" name="stuff" type="text" placeholder="ФИО сотрудника" class="form-control">
    <input value="Обновить" type="submit" class="btn btn-success">
</form>
{% endblock %}