<div class="container-fluid px-3 px-md-4 px-lg-5">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-2 py-md-3 border-bottom">
        <div class="col-4 col-md-3 mb-2 mb-md-0">
            <a href="{{ url_for('applic.all') }}" class="d-inline-flex align-items-center text-decoration-none">
                <img class="img-fluid"
                     src="{{ url_for('static', filename='img/home.png') }}"
                     alt="logo"
                     style="max-height: 40px; width: auto;">
                <span class="ms-2 d-none d-sm-inline">Главная</span>
            </a>
        </div>

        <button class="navbar-toggler d-md-none col-2 order-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <nav class="col-12 col-md-6 order-1 order-md-2">
            <div class="collapse navbar-collapse d-md-flex justify-content-center" id="navbarCollapse">
                <ul class="nav nav-pills flex-column flex-md-row align-items-center">

                    {% if current_user.is_authenticated and current_user.status == 'stuff' or current_user.status == 'admin' %}
                    <li class="nav-item mx-1 my-1 my-md-0">
                        <a href="{{ url_for('user.all') }}" class="nav-link px-2 py-1">Пользователи</a>
                    </li>
                    {% endif %}
                    <li class="nav-item mx-1 my-1 my-md-0">
                        <a href="{{ url_for('services.all') }}" class="nav-link px-2 py-1">Услуги</a>
                    </li>
                    {% if current_user.is_authenticated and current_user.status == 'stuff' or current_user.status == 'admin' %}
                    <li class="nav-item mx-1 my-1 my-md-0">
                        <a href="{{ url_for('categories.all') }}" class="nav-link px-2 py-1">Категории</a>
                    </li>
                    <li class="nav-item mx-1 my-1 my-md-0">
                        <a href="{{ url_for('reports.service_reports') }}" class="nav-link px-2 py-1">Отчеты</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="col-6 col-md-3 text-end order-2 order-md-3">
            {% if current_user.is_authenticated %}
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-end">
                    <span class="d-none d-md-inline me-2 small">Добро пожаловать, {{ current_user.name }}</span>
                    <a href="{{ url_for('user.logout') }}" class="btn btn-outline-primary btn-sm py-1">
                        <span class="d-none d-md-inline">Выйти</span>
                        <i class="fas fa-sign-out-alt d-md-none"></i>
                    </a>
                </div>
            {% else %}
                <div class="d-flex gap-2 justify-content-end">
                    <a href="{{ url_for('user.login') }}" class="btn btn-outline-primary btn-sm py-1">Войти</a>
                    <a href="{{ url_for('user.register') }}" class="btn btn-primary btn-sm py-1">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </header>
</div>
